// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Slab:wght@300&display=swap');

// TEXT THEMES
.main {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0.8rem;
  font-weight:300;
}

.about-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.goals {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.powerplay-odds {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.covariate-info {
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
  font-weight: 300;
}
 
// APP THEMES
.v-center {
  display: flex;
  align-items: center;
}

@import "~bootstrap/scss/bootstrap.scss";

// TEXT THEME MIXINS
@include media-breakpoint-up(xs) {
  .main {
    font-size: 2.6rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}