// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

// TEXT THEMES
.main {
  font-family: "Raleway", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1rem;
  font-weight:300;
}

.about-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
 
// APP THEMES

@import "~bootstrap/scss/bootstrap.scss";

// TEXT THEME MIXINS
